<%- include("partials/header.ejs") %>
<section class="home">
    </section>
    <div style="height: 1000px">
        <!-- just to make scrolling effect possible -->
			<h2 class="myH2">Make Your own Portfolio Website...!</h2>
			<p class="myP">To make your own Portfolio you must hav to sign up first</p>
    </div>
<ul class="colorlib-bubbles">
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
</ul>
<%- include("partials/footer.ejs") %>
